<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ "Recently in the Blog"|trans }}</h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            {% for article in articles %}
                {% set detailLink = path('blog', {
                    id: article.id,
                    text: article.title,
                    prefix: document.getProperty('blog').getFullPath()
                }) %}

                <a href="{{ detailLink }}" class="list-group-item">
                    <h5 class="list-group-item-heading">{{ article.title }}</h5>

                    {% if article.date is not empty %}
                        <p class="list-group-item-text">
                            <i class="glyphicon glyphicon-calendar"></i>
                            {{ article.date|date('d/m/Y') }}
                        </p>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    </div>
</div>
