
# remove this for your own development
/constants.php
/website/
/tools/
/plugins/

# symfony moving stuff
/app/cache
/app/logs

# tests
/tests/output/*
/tests/tmp/*

# composer
/composer.phar
/composer.lock
/vendor/*
!/vendor/.dummy

# misc
/php-cs-fixer.phar

# PhpStorm / IDEA
.idea
# NetBeans
nbproject
