# symfony default
/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/web/bundles/

# pimcore files
/app/constants.php

# local config
!/app/config/local
/app/config/local/*
!app/config/local/.gitkeep

# pimcore legacy (remove this for your own development)
!/legacy
/legacy/*
!legacy/.gitkeep
!legacy/bundle

/var/*
!/var/.gitkeep
!/var/classes/
/var/classes/Object

!/var/config
/var/config/system.php
/var/config/debug-mode.php
/var/config/maintenance.php

# project specific recommendations
/var/config/tag-manager.php
/var/config/reports.php


/web/var/

# PHP-CS-Fixer
/.php_cs
/.php_cs.cache

# composer
/composer.lock
!/vendor
/vendor/*
!/vendor/.gitkeep

# PhpStorm / IDEA
.idea
# NetBeans
nbproject

# codeception (only stage *.dist.yml config files)
/codeception.yml
/pimcore/codeception.yml
/pimcore/tests/*.suite.yml
/pimcore/tests/_output/*
/pimcore/tests/_support/_generated/*

# keep legacy paths ignored for easier migration
/plugins/
/tools/
/website/
