notifications:
  email:
    - travis-ci@pimcore.org

sudo: false
language: php

php:
  - 7
  # - 7.1

services:
  - redis

addons:
  mariadb: '10.1'

#matrix:
#  include:
#    - os: linux
#      sudo: false
#    - os: linux
#      sudo: true
#      env: PIMCORE_TEST_SUITE=rest

cache:
  directories:
    - vendor

env:
  - PIMCORE_ENVIRONMENT=test PIMCORE_TEST_DB_DSN="mysql://root@localhost/pimcore_test" PIMCORE_TEST_CACHE_REDIS_DATABASE=1

#before_install:
#  # analyze ZF usage before running anything else
#  - if [[ "$TRAVIS_PHP_VERSION" == "7" ]]; then bash .travis/analyze-zf-usage.sh; fi

before_install:
  - mysql --version
  - mysql -e "CREATE DATABASE pimcore_test;"

install:
  # add config template
  - mkdir -p var/config
  - cp .travis/system.template.php var/config/system.php

  # install composer - HHVM isn't officially PHP 7 compatible - see https://github.com/composer/composer/issues/4976
  - if [[ "$TRAVIS_PHP_VERSION" != *"hhvm"* ]]; then composer install; fi
  - if [[ "$TRAVIS_PHP_VERSION" == *"hhvm"* ]]; then composer install --ignore-platform-reqs; fi

before_script:
  - .travis/setup-php.sh
  - if [[ "$TRAVIS_SUDO" == "true" ]]; then .travis/setup-sudo.sh; fi

script:
  - .travis/run-tests.sh

after_script:
  # - cat $TRAVIS_BUILD_DIR/var/logs/test.log
  # - cat $TRAVIS_BUILD_DIR/apache-error.log
  # - cat $TRAVIS_BUILD_DIR/apache-access.log
  #- cat /tmp/hhvm.log
