parameters:
    level: 5

    paths:
        - bundles
        - lib
        - models

    bootstrapFiles:
        - phpstan-bootstrap.php

    symfony:
        container_xml_path: var/cache/test/App_KernelTestDebugContainer.xml

    excludePaths:
        - '**/External/AdminerController.php'
        - '**/Processor/PdfReactor.php'
        - '**/PDFreactor.class.php'
        - '**/bundles/AdminBundle/Security/Guard/AdminAuthenticator.php'
        - '**/bundles/AdminBundle/Security/Authenticator/AdminAbstractAuthenticator.php'

    ignoreErrors:
        - '~^Method Doctrine\\DBAL(\\.*)?Connection::query\(\) invoked with \d+ parameters?, 0 required\.\z~'
        - '~^Unsafe usage of new static\(\)~'

    # see https://phpstan.org/config-reference#universal-object-crates
    universalObjectCratesClasses:
        - Pimcore\Config\Config
        - Pimcore\Templating\Model\ViewModel
