includes:
    - phpstan-baseline.neon

parameters:

    bootstrapFiles:
        #- .github/ci/files/phpstan-bootstrap.php # optional when running in project scope
    reportUnmatchedIgnoredErrors: false

    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
        #container_xml_path: ../../../var/cache/dev/App_KernelDevDebugContainer.xml # optional when running in project scope

    excludes_analyse:
        - '**/PreAuthenticatedAdminSessionFactory.php'
        - '**/DependencyInjection/Configuration.php'
        - '**/External/AdminerController.php'
        - '**/Processor/PdfReactor.php'
        - '**/simple_html_dom.php'
        - '**/Fieldcollection/Data/Filter*'
        - '**/PDFreactor.class.php'
        - '**/bundles/AdminBundle/Security/Guard/AdminAuthenticator.php'

    ignoreErrors:
        - '/Pimcore\\Model\\DataObject\\Fieldcollection\\Data\\FilterMultiSelectFromMultiSelect/'
        # - '/(snappy|lz4)_(un)?compress/'
        - '/DataObject\\(OnlineShopVoucherToken|OnlineShopVoucherSeries|OnlineShopOrder|OnlineShopOrderItem|OnlineShopTaxClass|Customer|FilterDefinition)/'
        - '/Fieldcollection\\Data\\(VoucherTokenTypeSingle|VoucherTokenTypePattern|OrderPriceModifications|PricingRule|TaxEntry|FilterCategory|PaymentInfo)/'
        - '/Matcher::__construct\(\).*TypeMatcher/'
        -
            message: '/ALPHACHANNEL_REMOVE/'
            path: '**/Imagick.php'
        - '~^Method Doctrine\\DBAL(\\.*)?Connection::query\(\) invoked with \d+ parameters?, 0 required\.\z~'
        - '~^Unsafe usage of new static\(\)~'

    # see https://phpstan.org/config-reference#universal-object-crates
    universalObjectCratesClasses:
        -  Pimcore\Config\Config
        -  Pimcore\Templating\Model\ViewModel
