parameters:
	ignoreErrors:
		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 2
			path: bundles/CoreBundle/src/DependencyInjection/PimcoreCoreExtension.php

		-
			message: "#^Call to method addSetting\\(\\) on an unknown class Pimcore\\\\Bundle\\\\AdminBundle\\\\Event\\\\IndexActionSettingsEvent\\.$#"
			count: 1
			path: bundles/CustomReportsBundle/src/EventListener/IndexSettingsListener.php

		-
			message: "#^Parameter \\$settingsEvent of method Pimcore\\\\Bundle\\\\CustomReportsBundle\\\\EventListener\\\\IndexSettingsListener\\:\\:indexSettings\\(\\) has invalid type Pimcore\\\\Bundle\\\\AdminBundle\\\\Event\\\\IndexActionSettingsEvent\\.$#"
			count: 1
			path: bundles/CustomReportsBundle/src/EventListener/IndexSettingsListener.php

		-
			message: "#^Call to an undefined method Pimcore\\\\Bundle\\\\SeoBundle\\\\Controller\\\\Document\\\\DocumentController\\:\\:getTreeNodeConfig\\(\\)\\.$#"
			count: 1
			path: bundles/SeoBundle/src/Controller/Document/DocumentController.php

		-
			message: "#^Access to constant CONTEXT_SEARCH on an unknown class Pimcore\\\\Bundle\\\\AdminBundle\\\\Event\\\\ElementAdminStyleEvent\\.$#"
			count: 1
			path: bundles/SimpleBackendSearchBundle/src/Controller/SearchController.php

		-
			message: "#^Access to constant RESOLVE_ELEMENT_ADMIN_STYLE on an unknown class Pimcore\\\\Bundle\\\\AdminBundle\\\\Event\\\\AdminEvents\\.$#"
			count: 1
			path: bundles/SimpleBackendSearchBundle/src/Controller/SearchController.php

		-
			message: "#^Call to method getAdminStyle\\(\\) on an unknown class Pimcore\\\\Bundle\\\\AdminBundle\\\\Event\\\\ElementAdminStyleEvent\\.$#"
			count: 1
			path: bundles/SimpleBackendSearchBundle/src/Controller/SearchController.php

		-
			message: "#^Call to method getFilterCondition\\(\\) on an unknown class Pimcore\\\\Bundle\\\\AdminBundle\\\\Helper\\\\GridHelperService\\.$#"
			count: 2
			path: bundles/SimpleBackendSearchBundle/src/Controller/SearchController.php

		-
			message: "#^Instantiated class Pimcore\\\\Bundle\\\\AdminBundle\\\\Event\\\\ElementAdminStyleEvent not found\\.$#"
			count: 1
			path: bundles/SimpleBackendSearchBundle/src/Controller/SearchController.php

		-
			message: "#^Parameter \\$gridHelperService of method Pimcore\\\\Bundle\\\\SimpleBackendSearchBundle\\\\Controller\\\\SearchController\\:\\:findAction\\(\\) has invalid type Pimcore\\\\Bundle\\\\AdminBundle\\\\Helper\\\\GridHelperService\\.$#"
			count: 1
			path: bundles/SimpleBackendSearchBundle/src/Controller/SearchController.php

		-
			message: "#^Method Pimcore\\\\Bundle\\\\SimpleBackendSearchBundle\\\\MessageHandler\\\\SearchBackendHandler\\:\\:process\\(\\) is unused\\.$#"
			count: 1
			path: bundles/SimpleBackendSearchBundle/src/MessageHandler/SearchBackendHandler.php

		-
			message: "#^Method Pimcore\\\\Bundle\\\\SimpleBackendSearchBundle\\\\MessageHandler\\\\SearchBackendHandler\\:\\:shouldFlush\\(\\) is unused\\.$#"
			count: 1
			path: bundles/SimpleBackendSearchBundle/src/MessageHandler/SearchBackendHandler.php

		-
			message: "#^Call to method addSetting\\(\\) on an unknown class Pimcore\\\\Bundle\\\\AdminBundle\\\\Event\\\\IndexActionSettingsEvent\\.$#"
			count: 1
			path: bundles/StaticRoutesBundle/src/EventListener/IndexSettingsListener.php

		-
			message: "#^Parameter \\$settingsEvent of method Pimcore\\\\Bundle\\\\StaticRoutesBundle\\\\EventListener\\\\IndexSettingsListener\\:\\:indexSettings\\(\\) has invalid type Pimcore\\\\Bundle\\\\AdminBundle\\\\Event\\\\IndexActionSettingsEvent\\.$#"
			count: 1
			path: bundles/StaticRoutesBundle/src/EventListener/IndexSettingsListener.php

		-
			message: "#^Call to function is_subclass_of\\(\\) with '\\\\\\\\App\\\\\\\\Kernel' and 'Pimcore\\\\\\\\Kernel' will always evaluate to true\\.$#"
			count: 1
			path: lib/Bootstrap.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: lib/Image/Adapter/Imagick.php

		-
			message: "#^Call to an undefined method COM\\:\\:Run\\(\\)\\.$#"
			count: 1
			path: lib/Tool/Console.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 1
			path: lib/Tool/Requirements.php

		-
			message: "#^Dead catch \\- Throwable is never thrown in the try block\\.$#"
			count: 1
			path: lib/Tool/Serialize.php

		-
			message: "#^Negated boolean expression is always true\\.$#"
			count: 1
			path: models/Asset/Video/ImageThumbnail.php

		-
			message: "#^Call to function method_exists\\(\\) with Pimcore\\\\Model\\\\DataObject\\\\Listing and 'addDistinct' will always evaluate to true\\.$#"
			count: 1
			path: models/DataObject/Listing/Dao.php

		-
			message: "#^Call to method expandLocales\\(\\) on an unknown class Pimcore\\\\Bundle\\\\AdminBundle\\\\DataObject\\\\GridColumnConfig\\\\ConfigElementInterface\\.$#"
			count: 1
			path: models/DataObject/Service.php

		-
			message: "#^Call to method getLabeledValue\\(\\) on an unknown class Pimcore\\\\Bundle\\\\AdminBundle\\\\DataObject\\\\GridColumnConfig\\\\ConfigElementInterface\\.$#"
			count: 1
			path: models/DataObject/Service.php

		-
			message: "#^Call to method getRenderer\\(\\) on an unknown class Pimcore\\\\Bundle\\\\AdminBundle\\\\DataObject\\\\GridColumnConfig\\\\ConfigElementInterface\\.$#"
			count: 2
			path: models/DataObject/Service.php

		-
			message: "#^Call to method getValidLanguages\\(\\) on an unknown class Pimcore\\\\Bundle\\\\AdminBundle\\\\DataObject\\\\GridColumnConfig\\\\ConfigElementInterface\\.$#"
			count: 1
			path: models/DataObject/Service.php

		-
			message: "#^Class Pimcore\\\\Bundle\\\\AdminBundle\\\\DataObject\\\\GridColumnConfig\\\\Service not found\\.$#"
			count: 1
			path: models/DataObject/Service.php

		-
			message: "#^Method Pimcore\\\\Model\\\\DataObject\\\\Service\\:\\:getConfigForHelperDefinition\\(\\) has invalid return type Pimcore\\\\Bundle\\\\AdminBundle\\\\DataObject\\\\GridColumnConfig\\\\ConfigElementInterface\\.$#"
			count: 1
			path: models/DataObject/Service.php

		-
			message: "#^Class Pimcore\\\\Bundle\\\\PersonalizationBundle\\\\Model\\\\Document\\\\Targeting\\\\TargetingDocumentInterface not found\\.$#"
			count: 1
			path: models/Document/Editable/Renderlet.php

		-
			message: "#^Class Pimcore\\\\Bundle\\\\PersonalizationBundle\\\\Targeting\\\\Document\\\\DocumentTargetingConfigurator not found\\.$#"
			count: 1
			path: models/Document/Editable/Renderlet.php

		-
			message: "#^Class Pimcore\\\\Bundle\\\\PersonalizationBundle\\\\Targeting\\\\Document\\\\DocumentTargetingConfigurator not found\\.$#"
			count: 1
			path: models/Document/Editable/Snippet.php

		-
			message: "#^Call to static method get\\(\\) on an unknown class Pimcore\\\\Bundle\\\\AdminBundle\\\\Perspective\\\\Config\\.$#"
			count: 1
			path: models/User.php

		-
			message: "#^Call to static method getAvailablePerspectives\\(\\) on an unknown class Pimcore\\\\Bundle\\\\AdminBundle\\\\Perspective\\\\Config\\.$#"
			count: 1
			path: models/User.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: lib/Image/Chromium.php
