includes:
    - phpstan-baseline.neon

parameters:

    bootstrapFiles:
        #- .github/ci/files/phpstan-bootstrap.php # optional when running in project scope
    reportUnmatchedIgnoredErrors: false

    symfony:
        container_xml_path: var/cache/dev/appAppKernelDevDebugContainer.xml # Symfony ^4.0
        #container_xml_path: var/cache/dev/appDevDebugProjectContainer.xml # Symfony ^3.4

    excludes_analyse:
        - '**/DependencyInjection/Configuration.php'
        - '**/Migrations/Version*.php'
        - '**/External/AdminerController.php'
        - '**/Generator/DoctrineCrudGenerator.php'
        - '**/EcommerceFrameworkBundle/Resources/views/Voucher/parts/paginator.html.php'
        - '**/EcommerceFrameworkBundle/Resources/views/Includes/paging.html.php'
        - '**/Processor/PdfReactor8.php'
        - '**/simple_html_dom.php'
        - '**/PDFreactor.class.php'
        - '**/Document/MigrateTagNamingStrategyCommand.php'
        - '**/bundles/AdminBundle/Security/Guard/AdminAuthenticator.php'
        - '**/bundles/AdminBundle/Security/Guard/WebserviceAuthenticator.php'

    ignoreErrors:
        - '/(snappy|lz4)_(un)?compress/'
        - '/Instantiated class COM not found/'
        - '/(Order|Checkout)Manager.*__construct\(\) does not call parent constructor/'
        - '/Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)/'
        - '/DataObject\\(OnlineShopVoucherToken|OnlineShopVoucherSeries|OnlineShopOrder|OnlineShopOrderItem|OnlineShopTaxClass|Customer|FilterDefinition)/'
        - '/Fieldcollection\\Data\\(VoucherTokenTypeSingle|VoucherTokenTypePattern|OrderPriceModifications|PricingRule|TaxEntry|FilterCategory|PaymentInfo)/'
        - '/Matcher::__construct\(\).*TypeMatcher/'
        -
            message: '/method object::(pimcoreUrl|translateAdmin)/'
            path: '**/*.html.php'
        -
            message: '#Using \$this outside a class\.#'
            path: '**/*.html.php'
        -
            message: '#Variable \$(this|view|app) might not be defined.#'
            paths:
                - '**/*.html.php'
                - '**/EcommerceFrameworkBundle/Resources/views/**/*.js.php'
        -
            message: '#Using \$this outside a class\.#'
            path: '**/*.js.php'
        -
            message: '#Undefined variable: \$(this|view|app)#'
            path: '**/*.js.php'
        -
            message: '/ALPHACHANNEL_REMOVE/'
            path: '**/Imagick.php'
        -
            message: '/an undefined static method.*getParameter\(\)./'
            path: '**/Controller/Controller.php'
        -
            message: '/NO_AUTO_CACHE_CONTROL_HEADER/'
            path: '**/Controller/PublicServicesController.php'
        -
            message: '/__construct\(\) does not call parent constructor/'
            path: '**/Migrations/Version.php'
        - '~^Method Doctrine\\DBAL(\\.*)?Connection::query\(\) invoked with \d+ parameters?, 0 required\.\z~'
        - '~^Method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) invoked with 2 parameters, 1 required\.\z~'
        - '~^Unsafe usage of new static\(\)~'
        - '~^Method Psr\\Cache\\CacheItemPoolInterface::clear\(\) invoked with 1 parameter, 0 required\.\z~'
        - '~^Method Symfony\\Component\\Cache\\Adapter\\AdapterInterface::clear\(\) invoked with 1 parameter, 0 required\.\z~'

    # see https://phpstan.org/config-reference#universal-object-crates
    universalObjectCratesClasses:
        -  Pimcore\Templating\Model\ViewModel
