parameters:
	ignoreErrors:
	    -
			message: "#^Call to an undefined method COM\\:\\:Run\\(\\)\\.$#"
			count: 1
			path: lib/Tool/Console.php
		-
			message: "#^Class Pimcore\\\\Model\\\\DataObject\\\\OfferToolOffer not found\\.$#"
			count: 1
			path: bundles/EcommerceFrameworkBundle/DependencyInjection/Configuration.php
        -
			message: "#^Class Pimcore\\\\Model\\\\DataObject\\\\OfferToolOfferItem not found\\.$#"
			count: 1
			path: bundles/EcommerceFrameworkBundle/DependencyInjection/Configuration.php