parameters:
	ignoreErrors:
		-
			message: "#^Class Pimcore\\\\Model\\\\DataObject\\\\OfferToolOffer not found\\.$#"
			count: 1
			path: bundles/EcommerceFrameworkBundle/DependencyInjection/Configuration.php
		-
			message: "#^Call to an undefined method Pimcore\\\\Bundle\\\\EcommerceFrameworkBundle\\\\Model\\\\AbstractOrder\\:\\:setSuccessorOrder\\(\\)\\.$#"
			count: 2
			path: bundles/EcommerceFrameworkBundle/OrderManager/V7/OrderManager.php