<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
    <plugin>
        <pluginName>EcommerceFramework</pluginName>
        <pluginDescription><![CDATA[Ecommerce Framework for Pimcore]]></pluginDescription>
        <pluginClassName>\OnlineShop\Plugin</pluginClassName>

        <pluginIframeSrc>/plugin/EcommerceFramework/admin/settings</pluginIframeSrc>

        <!-- include paths relative to plugin-directory -->
        <pluginIncludePaths>
            <path>/EcommerceFramework/lib</path>
            <path>/EcommerceFramework/models</path>
            <path>/EcommerceFramework/controllers</path>
            <path>/EcommerceFramework/vendor</path>
        </pluginIncludePaths>

        <!-- namespaces to register with autoloader-->
        <pluginNamespaces>
            <namespace>OnlineShop</namespace>
        </pluginNamespaces>

        <pluginJsPaths>
            <path>/EcommerceFramework/static/js/indexfieldselectionfield/data/indexFieldSelectionField.js</path>
            <path>/EcommerceFramework/static/js/indexfieldselectionfield/tags/indexFieldSelectionField.js</path>
            <path>/EcommerceFramework/static/js/indexfieldselectionfield/data/indexFieldSelectionCombo.js</path>
            <path>/EcommerceFramework/static/js/indexfieldselectionfield/tags/indexFieldSelectionCombo.js</path>
            <path>/EcommerceFramework/static/js/indexfieldselectionfield/data/indexFieldSelection.js</path>
            <path>/EcommerceFramework/static/js/indexfieldselectionfield/tags/indexFieldSelection.js</path>
            <path>/EcommerceFramework/static/js/plugin.js</path>
            <path>/EcommerceFramework/static/js/pricing/config/panel.js</path>
            <path>/EcommerceFramework/static/js/pricing/config/item.js</path>
            <path>/EcommerceFramework/static/js/pricing/config/objects.js</path>
            <path>/EcommerceFramework/static/js/voucherservice/VoucherSeriesTab.js</path>
            <path>/plugin/EcommerceFramework/config/js-config</path>
        </pluginJsPaths>
        <pluginJsPaths-extjs6>
            <path>/EcommerceFramework/static6/js/indexfieldselectionfield/data/indexFieldSelectionField.js</path>
            <path>/EcommerceFramework/static6/js/indexfieldselectionfield/tags/indexFieldSelectionField.js</path>
            <path>/EcommerceFramework/static6/js/indexfieldselectionfield/data/indexFieldSelectionCombo.js</path>
            <path>/EcommerceFramework/static6/js/indexfieldselectionfield/tags/indexFieldSelectionCombo.js</path>
            <path>/EcommerceFramework/static6/js/indexfieldselectionfield/data/indexFieldSelection.js</path>
            <path>/EcommerceFramework/static6/js/indexfieldselectionfield/tags/indexFieldSelection.js</path>
            <path>/EcommerceFramework/static6/js/plugin.js</path>
            <path>/EcommerceFramework/static6/js/pricing/config/panel.js</path>
            <path>/EcommerceFramework/static6/js/pricing/config/item.js</path>
            <path>/EcommerceFramework/static6/js/pricing/config/objects.js</path>
            <path>/EcommerceFramework/static6/js/voucherservice/VoucherSeriesTab.js</path>
            <path>/plugin/EcommerceFramework/config/js-config</path>
        </pluginJsPaths-extjs6>
        <pluginCssPaths>
            <path>/EcommerceFramework/static/css/backend.css</path>
            <path>/EcommerceFramework/static/css/pricing.css</path>
        </pluginCssPaths>
        <pluginCssPaths-extjs6>
            <path>/EcommerceFramework/static6/css/backend.css</path>
            <path>/EcommerceFramework/static6/css/pricing.css</path>
        </pluginCssPaths-extjs6>
    </plugin>
</zend-config>
