.#{$prefix}explorer-view {
    background-color: #fff;
}

.#{$prefix}explorer-item {
    float: left;
}

.#{$prefix}explorer-item-text {
    text-align: center;
}

.#{$prefix}explorer-node-icon {
    height: 100px;
    width: 100px;
    background: theme-background-image('explorer/node', 'png');
}

.#{$prefix}explorer-leaf-icon {
    background: theme-background-image('explorer/leaf', 'png');
}
