{# TODO headmeta #}
{# TODO glossary #}

{% set content = pimcore_wysiwyg('content') %}

<section class="area-wysiwyg">
    <div class="row">
        <div class="col-sm-8">
            {{ content|raw }}
        </div>
        <div class="col-sm-4">
            {% for i in pimcore_iterate_block(pimcore_block('images')) %}
                {% if not editmode %}
                    <a href="{{ pimcore_image('image').getThumbnail('galleryLightbox') }}" class="thumbnail">
                {% endif %}

                {{ pimcore_image('image', {
                    thumbnail: 'galleryThumbnail'
                }) }}

                {% if not editmode %}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
