{% extends '@App/layout.html.twig' %}

{% block content %}
    <h1>CONTENT</h1>
    fooblah

    <hr>
    {{ pimcore_tag('input', 'foobar') }}
    <hr>

    DEVICE: {{ zend_device() }}<br>
    IS DESKTOP: {{ zend_device().isDesktop() ? 'YES' : 'NO' }}<br>

    <br>
    URL: {{ zend_url({ id: 4, text: 'In enim justo', 'prefix': '/en/basic-examples/news' }, 'news', true) }}

{% endblock %}
