<section>
    {% if asset %}

        <div class="row">
            {% for image in asset.getChilds() %}
                {% if image is instanceof('\\Pimcore\\Model\\Asset\\Image') %}
                    <div class="col-md-3 col-xs-6">
                        <a href="{{ image.getThumbnail('galleryLightbox')|raw }}" class="thumbnail">
                            {{ image.getThumbnail('galleryThumbnail').getHTML()|raw }}
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    {% endif %}
</section>
