<i class="glyphicon glyphicon-calendar"></i> {{ article.getDate()|date('d/m/Y') }}
<i class="glyphicon glyphicon-list"></i>

{% for category in article.getCategories() %}
    {%- spaceless -%}
    {# @var category \Pimcore\Model\Object\BlogCategory #}
    {%- if loop.index0 > 0 -%}, {% endif -%}<a href="?category={{ category.getId() }}">{{ category.getName() }}</a>
    {%- endspaceless -%}
{% endfor %}

