body {
    margin:0;
    padding: 0;
}

.thumbnails {
    width: 410px;
}

.small {
    width: 130px;
    height: 130px;
    float: left;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 5px 5px 0;
}