{% set headline = pimcore_input('headline') %}
{% do pimcore_head_title(headline.getData()) %}

<div class="page-header">
    {# we need to pipe the editable through the raw filter here as we saved it to a variable #}
    <h1>{{ headline|raw }}</h1>
</div>
