<div class="languages">
    <div class="dropdown">
        <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="languageSelector" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{ zend_translate('Language') }}
            <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" aria-labelledby="languageSelector">
            {% for link, text in language_links %}

                <li>
                    <a href="{{ link }}">{{ text }}</a>
                </li>

            {% endfor %}
        </ul>
    </div>
</div>
