<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
    <!-- With this file you can define custom cache interfaces for pimcore, please note that your backend must support tags (Zend's Memcached & APC doesn't :( ) -->
    <!--<frontend>
        <type>Core</type>
        <options>
            <cache_id_prefix>websitename_</cache_id_prefix>
            <lifetime>99999</lifetime>
            <automatic_serialization>true</automatic_serialization>
        </options>
    </frontend>-->

    <!-- memcached single server (recommended for single instances) -->
    <!-- "compatibility" and "tags_do_not_switch_to_innodb" are of course optional -->
    <!--<backend>
        <type>\Pimcore\Cache\Backend\Memcached</type>
        <custom>true</custom>
        <options>
            <tags_do_not_switch_to_innodb>true</tags_do_not_switch_to_innodb>
            <compatibility>true</compatibility>
            <servers>
                <host>localhost</host>
                <port>11211</port>
                <persistent>true</persistent>
            </servers>
        </options>
    </backend>-->

    <!-- memcached multi server (recommended for clusters) -->
    <!--<backend>
        <type>\Pimcore\Cache\Backend\Memcached</type>
        <custom>true</custom>
        <options>
            <compatibility>true</compatibility>
            <servers>
                <host>memcache1.your-host.com</host>
                <port>11211</port>
                <persistent>true</persistent>
            </servers>
            <servers>
                <host>memcache2.your-host.com</host>
                <port>11211</port>
                <persistent>true</persistent>
            </servers>
            <servers>
                <host>memcache3.your-host.com</host>
                <port>11211</port>
                <persistent>true</persistent>
            </servers>
        </options>
    </backend>-->

    <!-- Redis, see https://github.com/colinmollenhour/Cm_Cache_Backend_Redis for all configurations available -->
    <!--<backend>
        <type>\Pimcore\Cache\Backend\Redis2</type>
        <custom>true</custom>
        <options>
            <server>127.0.0.1</server>
            <port>6379</port>
            <persistent>1</persistent>
            <database>1</database>
            <use_lua>1</use_lua>
        </options>
    </backend>-->
</zend-config>
