<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
    <general>
        <timezone>Europe/Berlin</timezone>
        <php_cli/>
        <domain/>
        <redirect_to_maindomain/>
        <language>en</language>
        <validLanguages>en,de</validLanguages>
        <fallbackLanguages>
            <en/>
            <de/>
        </fallbackLanguages>
        <theme/>
        <contactemail/>
        <loginscreencustomimage/>
        <disableusagestatistics/>
        <debug></debug>
        <debug_ip/>
        <http_auth>
            <username/>
            <password/>
        </http_auth>
        <custom_php_logfile>1</custom_php_logfile>
        <debugloglevel>error</debugloglevel>
        <debug_admin_translations/>
        <devmode/>
        <logrecipient/>
        <viewSuffix/>
        <instanceIdentifier/>
        <show_cookie_notice/>
    </general>
    <database>
        <adapter>Mysqli</adapter>
        <params>
            <host>localhost</host>
            <username>pimcore_demo</username>
            <password>secretpassword</password>
            <dbname>pimcore_demo_pimcore</dbname>
            <port>3306</port>
        </params>
    </database>
    <documents>
        <versions>
            <days/>
            <steps>10</steps>
        </versions>
        <default_controller>default</default_controller>
        <default_action>default</default_action>
        <error_pages>
            <default>/error</default>
        </error_pages>
        <createredirectwhenmoved/>
        <allowtrailingslash>no</allowtrailingslash>
        <allowcapitals>no</allowcapitals>
        <generatepreview>1</generatepreview>
        <wkhtmltoimage/>
        <wkhtmltopdf/>
    </documents>
    <objects>
        <versions>
            <days/>
            <steps>10</steps>
        </versions>
    </objects>
    <assets>
        <webdav>
            <hostname/>
        </webdav>
        <versions>
            <days/>
            <steps>10</steps>
        </versions>
        <ffmpeg/>
        <ghostscript/>
        <libreoffice/>
        <icc_rgb_profile/>
        <icc_cmyk_profile/>
    </assets>
    <services>
        <translate>
            <apikey/>
        </translate>
        <google>
            <client_id>655439141282-tic94n6q3j7ca5c5as132sspeftu5pli.apps.googleusercontent.com</client_id>
            <email>655439141282-tic94n6q3j7ca5c5as132sspeftu5pli@developer.gserviceaccount.com</email>
            <simpleapikey>AIzaSyCo9Wj49hYJWW2WgOju4iMYNTvdcBxmyQ8</simpleapikey>
            <browserapikey>AIzaSyBJX16kWAmUVEz1c1amzp2iKqAfumbcoQQ</browserapikey>
        </google>
    </services>
    <cache>
        <enabled/>
        <lifetime/>
        <excludePatterns/>
        <excludeCookie/>
    </cache>
    <outputfilters>
        <less/>
        <lesscpath/>
    </outputfilters>
    <webservice>
        <enabled/>
    </webservice>
    <httpclient>
        <adapter>Zend_Http_Client_Adapter_Socket</adapter>
        <proxy_host/>
        <proxy_port/>
        <proxy_user/>
        <proxy_pass/>
    </httpclient>
    <email>
        <sender>
            <name>pimcore Demo</name>
            <email>pimcore-demo@byom.de</email>
        </sender>
        <return>
            <name>pimcore Demo</name>
            <email>pimcore-demo@byom.de</email>
        </return>
        <method>sendmail</method>
        <smtp>
            <host/>
            <port/>
            <ssl/>
            <name/>
            <auth>
                <method/>
                <username/>
                <password/>
            </auth>
        </smtp>
        <debug>
            <emailaddresses>pimcore@byom.de</emailaddresses>
        </debug>
        <bounce>
            <type/>
            <maildir/>
            <mbox/>
            <imap>
                <host/>
                <port/>
                <username/>
                <password/>
                <ssl/>
            </imap>
        </bounce>
    </email>
    <newsletter>
        <sender>
            <name/>
            <email/>
        </sender>
        <return>
            <name/>
            <email/>
        </return>
        <method/>
        <smtp>
            <host/>
            <port/>
            <ssl/>
            <name/>
            <auth>
                <method/>
                <username/>
                <password/>
            </auth>
        </smtp>
        <usespecific/>
    </newsletter>
</zend-config>
