<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
  <general>
    <timezone>Europe/Berlin</timezone>
    <php_cli></php_cli>
    <domain></domain>
    <redirect_to_maindomain></redirect_to_maindomain>
    <language>en</language>
    <validLanguages>en,de</validLanguages>
    <theme></theme>
    <loginscreenimageservice>1</loginscreenimageservice>
    <loginscreencustomimage></loginscreencustomimage>
    <debug></debug>
    <debug_ip></debug_ip>
    <http_auth>
      <username></username>
      <password></password>
    </http_auth>
    <custom_php_logfile>1</custom_php_logfile>
    <loglevel>
      <debug></debug>
      <info></info>
      <notice></notice>
      <warning></warning>
      <error>1</error>
      <critical>1</critical>
      <alert>1</alert>
      <emergency>1</emergency>
    </loglevel>
    <debug_admin_translations></debug_admin_translations>
    <devmode></devmode>
    <logrecipient></logrecipient>
    <viewSuffix></viewSuffix>
  </general>
  <database>
    <adapter>Mysqli</adapter>
    <params>
      <host>localhost</host>
      <username>pimcore_demo</username>
      <password>secretpassword</password>
      <dbname>pimcore_demo_pimcore</dbname>
      <port>3306</port>
    </params>
  </database>
  <documents>
    <versions>
      <days></days>
      <steps>10</steps>
    </versions>
    <default_controller>default</default_controller>
    <default_action>default</default_action>
    <error_pages>
      <default>/error</default>
    </error_pages>
    <createredirectwhenmoved></createredirectwhenmoved>
    <allowtrailingslash>no</allowtrailingslash>
    <allowcapitals>no</allowcapitals>
    <generatepreview>1</generatepreview>
    <wkhtmltoimage></wkhtmltoimage>
    <wkhtmltopdf></wkhtmltopdf>
  </documents>
  <objects>
    <versions>
      <days></days>
      <steps>10</steps>
    </versions>
  </objects>
  <assets>
    <webdav>
      <hostname></hostname>
    </webdav>
    <versions>
      <days></days>
      <steps>10</steps>
    </versions>
    <ffmpeg></ffmpeg>
    <qtfaststart></qtfaststart>
    <icc_rgb_profile></icc_rgb_profile>
    <icc_cmyk_profile></icc_cmyk_profile>
  </assets>
  <services>
    <translate>
      <apikey></apikey>
    </translate>
    <google>
      <client_id></client_id>
      <email></email>
      <simpleapikey>AIzaSyCo9Wj49hYJWW2WgOju4iMYNTvdcBxmyQ8</simpleapikey>
      <browserapikey>AIzaSyBJX16kWAmUVEz1c1amzp2iKqAfumbcoQQ</browserapikey>
    </google>
  </services>
  <cache>
    <enabled></enabled>
    <lifetime></lifetime>
    <excludePatterns></excludePatterns>
    <excludeCookie></excludeCookie>
  </cache>
  <outputfilters>
    <imagedatauri></imagedatauri>
    <less></less>
    <lesscpath></lesscpath>
    <cssminify></cssminify>
    <javascriptminify></javascriptminify>
    <javascriptminifyalgorithm></javascriptminifyalgorithm>
  </outputfilters>
  <email>
    <sender>
      <name></name>
      <email></email>
    </sender>
    <return>
      <name></name>
      <email></email>
    </return>
    <method></method>
    <smtp>
      <host></host>
      <port></port>
      <ssl></ssl>
      <name></name>
      <auth>
        <method></method>
        <username></username>
        <password></password>
      </auth>
    </smtp>
    <debug>
      <emailaddresses></emailaddresses>
    </debug>
    <bounce>
      <type></type>
      <maildir></maildir>
      <mbox></mbox>
      <imap>
        <host></host>
        <port></port>
        <username></username>
        <password></password>
        <ssl></ssl>
      </imap>
    </bounce>
  </email>
  <webservice>
    <enabled>1</enabled>
  </webservice>
  <httpclient>
    <adapter>Zend_Http_Client_Adapter_Socket</adapter>
    <proxy_host></proxy_host>
    <proxy_port></proxy_port>
    <proxy_user></proxy_user>
    <proxy_pass></proxy_pass>
  </httpclient>
  <deployment>
    <enabled>0</enabled>
    <instanceIdentifier></instanceIdentifier>
    <environment>live</environment>
  </deployment>
</zend-config>
