<?xml version="1.0"?>

<project name="copy-test" default="test1">

  <target name="test1">
    <mkdir dir="copytest" />
    <copy todir="copytest">
      <fileset dir="../../../classes">
        <include name="**/tasks/system/*.php" />
      </fileset>
      <fileset dir="../../classes">
        <include name="**/tasks/*.php" />
      </fileset>
      <mapper type="flatten" />
    </copy>
  </target>

  <target name="cleanup">
    <delete dir="copytest" />
  </target>

</project>
