<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
  <general>
    <timezone>Europe/Berlin</timezone>
    <domain></domain>
    <language>en</language>
    <validLanguages>en,de,de_AT,en_US</validLanguages>
    <theme>/pimcore/static/js/lib/ext-plugins/xtheme-slate/css/xtheme-slate.css</theme>
    <debug></debug>
    <firephp></firephp>
    <loglevel>
      <debug></debug>
      <info>1</info>
      <notice>1</notice>
      <warning>1</warning>
      <error>1</error>
      <critical>1</critical>
      <alert>1</alert>
      <emergency>1</emergency>
    </loglevel>
    <devmode>1</devmode>
    <logrecipient></logrecipient>
    <welcomescreen>1</welcomescreen>
  </general>
  <database>
    <adapter>Mysqli</adapter>
    <params>
      <host>localhost</host>
      <username>root</username>
      <password>elements</password>
      <dbname>pimcore_phpunit</dbname>
      <port></port>
    </params>
  </database>
  <documents>
    <versions>
      <days></days>
      <steps>20</steps>
    </versions>
    <default_controller>default</default_controller>
    <default_action>default</default_action>
    <error_page>/about</error_page>
  </documents>
  <objects>
    <versions>
      <days></days>
      <steps>20</steps>
    </versions>
  </objects>
  <assets>
    <webdav>
      <hostname>dav.pimcore.elements.at</hostname>
    </webdav>
    <versions>
      <days></days>
      <steps>25</steps>
    </versions>
  </assets>
  <services>
    <scribd>
      <apikey>4jpgc1ahq3bk6kdpu63cq</apikey>
      <secret>sec-393efcp64j0vzeubu7o7ohv7u8</secret>
    </scribd>
    <youtube>
      <apikey>AI39si420aDxvKZ0OMvnw6PBRfjOZnv-QBmC5-xezQIGz0rI4LcFPK1nl8_e9suULZUYmyhdFIbH-oJ5D4px0caiqiYNtGht3A</apikey>
    </youtube>
    <googlemaps>
      <apikey>ABQIAAAAuqKqhGipJyiC2Ghqas8omhR8VPDSElvFdqtK-8tJip-xUcNguRTpyFGJSo83djL_sehrKasnpoeKPg</apikey>
    </googlemaps>
    <google>
      <username>pimcore@elements.at</username>
      <password>pimcore1492</password>
    </google>
  </services>
  <plugins>
    <repositories>plugins.pimcore.org</repositories>
  </plugins>
  <cache>
    <enabled></enabled>
    <lifetime></lifetime>
    <excludePatterns></excludePatterns>
    <excludeCookie>pimcore_admin_sidx</excludeCookie>
  </cache>
  <outputfilters>
    <imagedatauri></imagedatauri>
    <cssminify></cssminify>
    <javascriptminify></javascriptminify>
    <javascriptminifyalgorithm> </javascriptminifyalgorithm>
    <htmlminify></htmlminify>
    <cdn></cdn>
    <cdnhostnames></cdnhostnames>
    <cdnpatterns></cdnpatterns>
  </outputfilters>
  <email>
    <sender>
      <name></name>
      <email></email>
    </sender>
    <return>
      <name></name>
      <email></email>
    </return>
    <method></method>
    <smtp>
      <host></host>
      <port></port>
      <ssl></ssl>
      <name></name>
      <auth>
        <method></method>
        <username></username>
        <password></password>
      </auth>
    </smtp>
  </email>
  <webservice>
    <enabled>1</enabled>
  </webservice>
</zend-config>

