/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 0px;
    color: #5a5a5a;
}




/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: relative;
    z-index: 20;
}

.navbar-brand {
    padding: 10px 40px 10px 10px;
}

.navbar-brand img {
    height: 30px;
    margin-left: 10px;
}

.navbar-wrapper ul {
    list-style: none !important; /* IE FIX */
}

@media (min-width: 768px) {
    .navbar-right {
        margin-right: 15px;
    }
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}



.jumbotron {
    background: #074f73; /* Old browsers */
    background: -moz-linear-gradient(45deg, #074f73 0%, #0088cc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #074f73), color-stop(100%, #0088cc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #074f73 0%, #0088cc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #074f73 0%, #0088cc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #074f73 0%, #0088cc 100%); /* IE10+ */
    background: linear-gradient(45deg, #074f73 0%, #0088cc 100%); /* W3C */
    margin-top: -91px;
    color: #fff;
    padding-bottom: 20px !important;
    padding-top: 90px !important;
}

footer {
    padding: 30px 30px 20px 30px;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}

footer .links a {
    margin-right: 20px;
}



/* CUSTOMIZE THE CAROUSEL for the header
-------------------------------------------------- */

/* Carousel base class */
#portalHeader {
    margin-bottom: 20px;

    /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    margin-top: -91px;
    min-height: 300px;
}

#portalHeader .carousel-inner {
    position: absolute !important;
    top:0;
    left: 0;
}

/* Since positioning the image, we need to help out the caption */
#portalHeader .carousel-caption {
    z-index: 10;
    text-shadow: 0 0 30px #000;
}

/* Declare heights because of positioning of img element */
#portalHeader .item {
    background-color: #777;
    width: 100%;
    overflow: hidden;
}

#portalHeader .carousel-inner > .item > img {
    width: auto;
    min-width: 100%;
    max-width: none;

    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

/* CONTENTS */


#content section {
    margin-bottom: 50px;
}

.portal-page .container section {
    margin-top: 30px;
}

section img {
    max-width: 100%;
}

.pimcore_area_gallery-folder .thumbnail, .pimcore_area_gallery-single-images .thumbnail {
    margin-bottom: 20px;
}

.teaser {
    text-align: center;
    margin-bottom: 30px;
}

.teaser img {
    width: 100%;
    height: auto;
}

.thumbnail-examples .row {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.thumbnail-examples .img-container {
    height: 139px;
    background: url(/static/img/transparent-background-placeholder.png);
}

.image-container {
    position:relative;
    max-width: 100%;
}

.image-hotspot {
    position: absolute;
    background: rgba(235, 105, 9, 0.2);
}

.image-marker {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #2aabeb;
}

.blog .list img {
    max-width: 100%;
    height: auto;
}

.blog .filters .box {
    padding: 10px;
    margin-bottom: 30px;
    background-color: #f7f5fa;
    border-radius: 5px;
}

.blog .filters .box h4 {
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #5a5a5a;
}

.disqus {
    margin-top: 30px;
}

.area-embed .embed > *, .area-embed .embed iframe {
    width: 100%;
}

.area-embed .embed {
    padding-bottom: 20px;
}

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
    position: static;
}

/* First level of nav */
.bs-sidenav {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top:    10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #fff;
    background-color: #f7f5fa;
    border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
    display: block;
    color: #716b7a;
    padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
    text-decoration: none;
    background-color: #e5e3e9;
    border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
    font-weight: bold;
    color: #563d7c;
    background-color: transparent;
    border-right: 1px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
    display: none; /* Hide by default, but at >768px, show it */
    margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
    padding-top:    3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.languages {
    position: absolute;
    right: 15px;
    top: 15px;
    display: none;
}

.sidebar .teaser {
    margin-bottom: 30px;
    background-color: #f7f5fa;
    border-radius: 5px;
    padding-bottom: 5px;
}

.sidebar .teaser img {
    max-width: 100%;
}

.sidebar .teaser h2, .sidebar .teaser > div {
    padding: 0 10px;
}

.dropdown-menu {
    top: -2000px;
}

.carousel-caption {
    text-shadow: 0 0 5px #000;
}

.carousel-indicators.preview {
    bottom: -10px;
    width: 100%;
    margin-left: -50%;
}

/* Indicators list style */
.carousel-indicators.preview li {
    border: medium none;
    border-radius: 0;
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 100px;
}
/* Indicators images style */
.carousel-indicators.preview img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
    opacity: 0.7;
}
/* Indicators active image style */
.carousel-indicators.preview .active img {
    border: 2px solid #428BCA;
    opacity: 1;
}

.portal-page .gallery .carousel-inner > .item > img {
    min-width: 100%;
    height: auto;
}


.teaser-icon > .icon {
    text-align: center;
    position: relative;
}

.teaser-icon > .icon > .image {
    position: relative;
    z-index: 2;
    margin: auto;
    width: 88px;
    height: 88px;
    border: 8px solid white;
    line-height: 88px;
    border-radius: 50%;
    background: #428bca;
    vertical-align: middle;
}

.teaser-icon > .icon:hover > .image {
    background: #333;
}

.teaser-icon > .icon > .image > i {
    font-size: 36px !important;
    color: #fff !important;
    top: 5px !important;
    left:0;
}

.teaser-icon > .icon:hover > .image > i {
    color: white !important;
}

.teaser-icon > .icon > .info {
    margin-top: -24px;
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid #e0e0e0;
    padding: 15px 0 10px 0;
}

.teaser-icon > .icon:hover > .info {
    background: rgba(0, 0, 0, 0.04);
    border-color: #e0e0e0;
    color: white;
}

.teaser-icon > .icon > .info > p, .teaser-icon > .icon > .info > div {
    color: #666;
    line-height: 1.5em;
    margin: 20px;
}

.teaser-icon > .icon:hover > .info > h3.title, .teaser-icon > .icon:hover > .info > p, .teaser-icon > .icon:hover > .info > .more > a {
    color: #222;
}

.teaser-icon > .icon > .info > .more a {
    font-size: 12px;
    color: #222;
    line-height: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

.teaser-icon > .icon:hover > .info > .more > a {
    color: #fff;
    padding: 6px 8px;
    background-color: #428bca;
}

.teaser-icon .space {
    height: 30px;
}


.tabbed-slider {
    padding-bottom: 30px;
}

.tabbed-slider .nav a small {
    display: block;
}

.tabbed-slider .nav {
    background: #eee;
}

.tabbed-slider .nav-justified > li > a {
    border-radius: 0px;
}

.tabbed-slider .carousel-inner .item {
    height: 300px;
    overflow: hidden;
}

.tabbed-slider .carousel-inner .item-0, .tabbed-slider .nav-pills .item-0.active a { background-color: #16a085; }
.tabbed-slider .carousel-inner .item-1, .tabbed-slider .nav-pills .item-1.active a { background-color: #2980b9; }
.tabbed-slider .carousel-inner .item-2, .tabbed-slider .nav-pills .item-2.active a { background-color: #e67e22; }
.tabbed-slider .carousel-inner .item-3, .tabbed-slider .nav-pills .item-3.active a { background-color: #8e44ad; }
.tabbed-slider .carousel-inner .item-4, .tabbed-slider .nav-pills .item-4.active a { background-color: #2980b9; }
.tabbed-slider .carousel-inner .item-5, .tabbed-slider .nav-pills .item-5.active a { background-color: #e67e22; }

@media (min-width: 768px) {

    .teaser {
        margin-bottom: 0;
    }

    /* Remove the edge padding needed for mobile */
    .marketing {
        padding-left: 0;
        padding-right: 0;
    }

    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }

    /* Bump up size of carousel content */
    #portalHeader {
        min-height: 600px;
    }

    #portalHeader .carousel-caption h1 {
        font-size: 75px;
    }

    .carousel-caption .caption {
        margin-bottom: 20px;
        font-size: 45px;
        line-height: 1.4;
    }

    .dropdown-menu {
        top: 100%;
    }
}


/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
    .bs-sidebar .nav > .active > ul {
        display: block;
    }
    /* Widen the fixed sidebar */
    .bs-sidebar.affix,
    .bs-sidebar.affix-bottom {
        width: 213px;
    }
    .bs-sidebar.affix {
        position: fixed; /* Undo the static from mobile first approach */
        top: 80px;
    }
    .bs-sidebar.affix-bottom {
        position: absolute; /* Undo the static from mobile first approach */
    }
    .bs-sidebar.affix-bottom .bs-sidenav,
    .bs-sidebar.affix .bs-sidenav {
        margin-top: 0;
        margin-bottom: 0;
    }

    .languages {
        display: block;
    }
}


@media screen and (min-width: 1200px) {
    /* Widen the fixed sidebar again */
    .bs-sidebar.affix-bottom,
    .bs-sidebar.affix {
        width: 263px;
    }
}




