<section class="area-embed" style="margin-top:20px;">
    <div class="row">

        {% for i in 1..2 %}
            {% for i in pimcore_iterate_block(pimcore_block('contents_' ~ i)) %}
                <div class="embed">
                    {{ pimcore_embed('socialContent', {
                        width: 426,
                        height: 300
                    }) }}
                </div>
            {% endfor %}
        {% endfor %}

    </div>
</section>

