.pimcore_nav_icon_php {
    background: url(/bundles/pimcoreadmin/img/flat-white-icons/php.svg) center center no-repeat !important;
}

.pimcore_nav_icon_systemrequirements {
    background: url(/bundles/pimcoreadmin/img/flat-white-icons/factory.svg) center center no-repeat !important;
}

.pimcore_nav_icon_reports {
    background: url(/bundles/pimcoreadmin/img/flat-white-icons/pie_chart.svg) center center no-repeat !important;
}

.pimcore_icon_php {
    background: url(/bundles/pimcoreadmin/img/flat-color-icons/php.svg) center center no-repeat !important;
}

.pimcore_icon_systemrequirements {
    background: url(/bundles/pimcoreadmin/img/flat-color-icons/factory.svg) center center no-repeat !important;
}

.pimcore_icon_reports {
    background: url(/bundles/pimcoreadmin/img/flat-color-icons/pie_chart.svg) center center no-repeat !important;
}