{% extends '@PimcoreEcommerceFramework/voucher/voucher_layout.html.twig' %}

{% block content %}
    <div class="alert alert-danger">
        {% if errors is iterable %}
            {% for error in errors %}
                {{ error|trans([],'admin') }}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
