<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
    <!-- With this file you can define custom cache interfaces for pimcore, please note that your backend must support tags (Zend's Memcached & APC doesn't :( ) -->
    <!--<frontend>
        <type>Core</type>
        <options>
            <cache_id_prefix>websitename_</cache_id_prefix>
            <lifetime>99999</lifetime>
            <automatic_serialization>true</automatic_serialization>
        </options>
    </frontend>-->
    <!--<backend>
        <type>File</type>
        <options>
            <cache_file_umask>0755</cache_file_umask>
            <cache_dir>/home/pimcore/www/website/var/cache</cache_dir>
        </options>
    </backend>-->
    <!--<backend>
        <type>Pimcore_Cache_Backend_Memcached</type>
        <custom>true</custom>
        <options>
            <servers>
                <host>localhost</host>
                <port>11211</port>
                <persistent>true</persistent>
                <compatibility>true</compatibility>
            </servers>
        </options>
    </backend>-->
</zend-config>
