<section class="area-video">
    {{ pimcore_video('video', {
        attributes: {
            class: 'video-js vjs-default-skin vjs-big-play-centered',
            'data-setup': '{}'
        },
        thumbnail: 'content',
        height: 380
    }) }}
</section>
