<section class="area-blockquote" style="margin-top:20px;">

    <blockquote>
        <p>{{ pimcore_input('quote') }}</p>
        <small>{{ pimcore_input('author') }} - rendered by Twig</small>
    </blockquote>

</section>
