/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 0px;
    color: #5a5a5a;
}




/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: relative;
    z-index: 20;
}

.navbar-brand {
    padding: 10px 40px 10px 10px;
}

.navbar-brand img {
    height: 30px;
}

.navbar-wrapper ul {
    list-style: none !important; /* IE FIX */
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}



.jumbotron {
    background: #0088cc; /* Old browsers */
    background: -moz-linear-gradient(45deg, #074f73 0%, #0088cc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #074f73), color-stop(100%, #0088cc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #074f73 0%, #0088cc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #074f73 0%, #0088cc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #074f73 0%, #0088cc 100%); /* IE10+ */
    background: linear-gradient(45deg, #074f73 0%, #0088cc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#074f73', endColorstr='#0088cc', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    margin-top: -91px;
    padding-bottom: 20px;
    color: #fff;
    padding-top: 90px;
}

footer {
    padding: 30px 30px 20px 30px;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}

footer .links a {
    margin-right: 20px;
}


/* CONTENTS */


#content section {
    margin-bottom: 50px;
}

section img {
    max-width: 100%;
}

.pimcore_area_gallery-folder .thumbnail, .pimcore_area_gallery-single-images .thumbnail {
    margin-bottom: 20px;
}

.teaser {
    text-align: center;
}

.thumbnail-examples .row {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.thumbnail-examples .img-container {
    height: 150px;
    background: url(/website/static/img/transparent-background-placeholder.png);
}


.image-hotspot {
    position: absolute;
    background: rgba(235, 105, 9, 0.2);
}

.image-marker {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #2aabeb;
}


/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
    position: static;
}

/* First level of nav */
.bs-sidenav {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top:    10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #fff;
    background-color: #f7f5fa;
    border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
    display: block;
    color: #716b7a;
    padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
    text-decoration: none;
    background-color: #e5e3e9;
    border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
    font-weight: bold;
    color: #563d7c;
    background-color: transparent;
    border-right: 1px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
    display: none; /* Hide by default, but at >768px, show it */
    margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
    padding-top:    3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.languages {
    position: absolute;
    right: 15px;
    top: 15px;
}

.languages a {
    width: 24px;
    height: 12px;
    overflow: hidden;
    margin-left: 5px;
    display: inline-block;
    border: 2px solid #999;
    box-sizing: content-box;
    font-size: 0;
}

.languages a:hover {
    border-color: #fff;
}

.languages .de {
    background-image: url(/website/static/img/de.png);
}

.languages .en {
    background-image: url(/website/static/img/en.png);
}

.sidebar .teaser {
    margin-bottom: 30px;
    background-color: #f7f5fa;
    border-radius: 5px;
    padding-bottom: 5px;
}

.sidebar .teaser img {
    max-width: 100%;
}

.sidebar .teaser h2, .sidebar .teaser > div {
    padding: 0 10px;
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
    .bs-sidebar .nav > .active > ul {
        display: block;
    }
    /* Widen the fixed sidebar */
    .bs-sidebar.affix,
    .bs-sidebar.affix-bottom {
        width: 213px;
    }
    .bs-sidebar.affix {
        position: fixed; /* Undo the static from mobile first approach */
        top: 80px;
    }
    .bs-sidebar.affix-bottom {
        position: absolute; /* Undo the static from mobile first approach */
    }
    .bs-sidebar.affix-bottom .bs-sidenav,
    .bs-sidebar.affix .bs-sidenav {
        margin-top: 0;
        margin-bottom: 0;
    }
}
@media screen and (min-width: 1200px) {
    /* Widen the fixed sidebar again */
    .bs-sidebar.affix-bottom,
    .bs-sidebar.affix {
        width: 263px;
    }
}




/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    /* Remove the edge padding needed for mobile */
    .marketing {
        padding-left: 0;
        padding-right: 0;
    }

    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }

    /* Bump up size of carousel content */
    .carousel-caption .caption {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
}

@media (min-width: 992px) {

}

@media (max-width: 767px) {
    .languages {
        display: none;
    }
}
