/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 0px;
    color: #5a5a5a;
}




/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: relative;
    z-index: 15;
}

.navbar-brand {
    padding: 10px 40px 10px 10px;
}

.navbar-brand img {
    height: 30px;
}

.navbar-wrapper ul {
    list-style: none !important; /* IE FIX */
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}



.jumbotron {
    background: #0088cc; /* Old browsers */
    background: -moz-linear-gradient(45deg, #074f73 0%, #0088cc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #074f73), color-stop(100%, #0088cc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #074f73 0%, #0088cc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #074f73 0%, #0088cc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #074f73 0%, #0088cc 100%); /* IE10+ */
    background: linear-gradient(45deg, #074f73 0%, #0088cc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#074f73', endColorstr='#0088cc', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    margin-top: -91px;
    padding-bottom: 20px;
    color: #fff;
    padding-top: 90px;
}

footer {
    padding: 30px 30px 20px 30px;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}

footer .links a {
    margin-right: 20px;
}


/* CONTENTS */


#content section {
    margin-bottom: 50px;
}

section img {
    max-width: 100%;
}

.pimcore_area_gallery-folder .thumbnail, .pimcore_area_gallery-single-images .thumbnail {
    margin-bottom: 20px;
}

.teaser {
    text-align: center;
}

.thumbnail-examples .row {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.thumbnail-examples .img-container {
    height: 150px;
    background: url(/website/static/img/transparent-background-placeholder.png);
}


.image-hotspot {
    position: absolute;
    background: rgba(235, 105, 9, 0.2);
}

.image-marker {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #2aabeb;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    /* Remove the edge padding needed for mobile */
    .marketing {
        padding-left: 0;
        padding-right: 0;
    }

    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }

}

@media (min-width: 992px) {

}


