


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel.header {
    margin-bottom: 60px;

    /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    margin-top: -90px;
    height: 400px;
}

.carousel.header .carousel-inner {
    position: absolute !important;
    top:0;
    left: 0;
}

/* Since positioning the image, we need to help out the caption */
.carousel.header .carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel.header .item {
    height: 400px;
    background-color: #777;
}

.carousel.header .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 400px;
}

