
name: "Composer Audit & Outdated"

on:
    workflow_dispatch:

permissions:
  contents: read

jobs:
    composer-checks:
        uses: pimcore/workflows-collection-public/.github/workflows/reusable-composer-checks.yaml@main
        strategy:
            fail-fast: false
            matrix:
                include:
                    - { php-version: 8.3, branch: 11.x }
                    - { php-version: 8.2, branch: 11.x }
                    - { php-version: 8.3, branch: 11.3 }
                    - { php-version: 8.2, branch: 11.3 }
        with:
            php-version: ${{ matrix.php-version }}
            branch: ${{ matrix.branch }}
            ignore-list: "public"
        secrets:
            TEAMS_COMPOSER_VULNERABILITY_URI: ${{ secrets.TEAMS_COMPOSER_VULNERABILITY_URI }}
