
name: "Composer Audit & Outdated"

on:
    workflow_dispatch:
    schedule:
        -   cron: '0 3 * * *'

permissions:
  contents: read

jobs:
    composer-checks:
        uses: pimcore/workflows-collection-public/.github/workflows/reusable-composer-checks.yaml@main
        fail-fast: false
        strategy:
            matrix:
                include:
                    - { php-version: 8.1, branch: 10.6 }
                    - { php-version: 8.2, branch: 11.x }
        with:
            php-version: ${{ matrix.php-version }}
            branch: ${{ matrix.branch }}