
name: "Documentation"

on:
    pull_request:
        branches:
            - "[0-9]+.[0-9]+"
            - "[0-9]+.x"
        paths:
            - 'docs/**'
    push:
        branches:
            - "[0-9]+.[0-9]+"
            - "[0-9]+.x"
            - "*_actions"
        paths:
            - 'docs/**'

permissions:
  contents: read

jobs:
    docs:
        name: "Generate docs with Daux"
        runs-on: "ubuntu-20.04"
        steps:
            - name: "Checkout code"
              uses: "actions/checkout@v2"

            - name: "Install PHP"
              uses: "shivammathur/setup-php@v2"
              with:
                  coverage: "none"
                  php-version: "7.4"

            - name: "Run generation of docs"
              run: ".github/ci/scripts/docs.sh"
